body {
    margin: 0 auto; 
    padding: 0 auto; 
    background-color: rgb(243, 243, 243); 
    color: black; 
    font-family: 'Antic Slab', serif;
}

a { 
    outline: none; 
    text-decoration: none;
    color: white;
    padding-left: 1px; 
    padding-right: 10px; 
    font-weight: bold;
}

.footer li {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

a:hover, a:focus {
    color: white; 
}

#icon_div {
    margin-right: 10px;
}

#footer-section {
    display: flex; 
    justify-content: center;
    align-items: center;

}

.navigator {
    background-color: black; 
    color: white; 
    padding-top: 11px;
    padding-bottom: 31px; 
    padding-left: 15px; 
    padding-right: 12px; 
    border: none; 
    outline: none; 
    box-shadow: -7px 5px 22px -11px; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.body_div {
    display: grid; 
    justify-content: center;
    align-items: center;
    padding-right: 20px; 
    margin-top: 65px; 
}





@media (min-width: 360px) {
    .navigator {
        background-color: black;
        color: white;
        padding-top: 7px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 12px;
        border: none;
        outline: none;
        box-shadow: -7px 5px 22px -11px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px; }

    #left_body_div {
        float: left;
        width: 45px;
        margin-left: 0px;
        height: 323px;
        padding-left: 53px;
        padding-top: 67px;
        padding-bottom: 75px;
        background-color: black;
        border-top-left-radius: 95px;
        border-bottom-left-radius: 45px;}

    .sign_up_img {
        height: 83px;
        width: 90px;
        padding-top: 4px;
        padding-right: 0px;
        margin-left: -46px;}

    #right_body_div {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        width: 190px;
        height: 412px;
        border: 2px solid #9b9b9ba3;
        padding-left: 18px;
        padding-right: 2px;
        padding-top: 0px;
        padding-bottom: 152px;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 45px; } 

    #email, #password {
        margin-top: 6px;
        height: 38px;
        width: 163px;
        padding-left: 6px;
        border-radius: 5px;
        border-color: #edeaea9e;
        outline: none;
    }

    #form {
        margin-top: 6px;
        padding-left: 3px;
    }

    a  {
        outline: none;
        text-decoration: none;
        color: white;
        font-size: 11px;
        margin-right: 2px;
        margin-left: 2px;
        padding-left: 0px;
        padding-right: 2px;
        font-weight: bold;
    }


    #footer-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding-top: 50px;
        padding-left: 2px;
        padding-right: 44px;
        margin-top: 200px;
        padding-bottom: 50px;
    } 

    .last-privacy-footer {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 0px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    } 

    
    .body_div {
        display: grid;
        justify-content: center;
        align-items: center;
        padding-right: 35px;
        padding-bottom: 30px;
        padding-left: 35px;
        margin-top: 65px;
    }



    
    
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
