<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link rel="stylesheet" href="../../css/signinCustomers.css"> 
    <link rel="stylesheet" href="../../css/loggedCustomers.css"> 
    <script src="../../javascript/ajax-min.js"></script>        
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
    <div class="navigator-div navigator" id="navigator-div">
        <div class="navigator-name" id="navigator-name">
            <div class="icon_div" id="icon_div" style="float: left;">
                <!-- <img class="home_icon_image" src="../images/Ecom-flowchart.jpg" alt="home" > -->
            </div>

            <a href="/" class="navigator-left" style="float: left;"> <span> Ecom App </span></a>

            <div class="navigator-right" id="navigator-right" style="float: right">
                <a href="#" class="about"> <span> About </span></a>
                <a href="#" class="contact"> <span> Contact </span></a>
                <a href="/signup" class="signup"> <span> Sign up </span></a> 
                <a href="/signin" class="login"> <span> Sign In </span></a>
            </div>
        </div>
    </div>

    <div id="first-div"> </div>

    <div id="second-div"> </div> 

    <ul class="first-list" style="list-style-type: none; text-align: center; margin-top: 200px;">

    </ul>
    



    <!-- Adding javascript -->
    <script src="../../javascript/loggedCustomers.js"></script>
</body>
</html>