<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link rel="stylesheet" href="../../css/signinCustomers.css"> 
    <link rel="stylesheet" href="../../css/loggedCustomers.css"> 
    <script src="../../javascript/aframe.min.js"></script>
    <script src="../../javascript/ajax-min.js"></script>        
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
    <div class="navigator-div navigator" id="navigator-div">
        <div class="navigator-name" id="navigator-name">
            <div class="icon_div" id="icon_div" style="float: left;">
                <!-- <img class="home_icon_image" src="../images/Ecom-flowchart.jpg" alt="home" > -->
            </div>

            <a href="/" class="navigator-left" style="float: left;"> <span> Ecom App </span></a>

            <div class="navigator-right" id="navigator-right" style="float: right">
                <a href="#" class="about"> <span> About </span></a>
                <a href="#" class="contact"> <span> Contact </span></a>
                <a href="/signup" class="signup"> <span> Sign up </span></a> 
                <a href="/signin" class="login"> <span> Sign In </span></a>
            </div>
        </div>
    </div>

    <div id="first-div"> 
        <!-- <ul class="stocks_list" id="1">
            <div class="img_div">
                <img src="../../images/ariana.jpeg" class="img_file">  
            </div>
            <div style="float: right;" class="btn_div">
                <input type="button" value="Buy" class="buy_btn" id="">
                <input type="button" value="Rate" class="rate_btn" id="">

            </div>
            <li> <b> Stock Name: </b> <span class="data">  Techno  </span> </li>
            <li> <b> Stock Price: </b> <span class="data">  20.5 </span> </li>
            <li> <b> Stock Rating: </b> <span class="data">  5.6 </span> </li>
        </ul>

        <ul class="stocks_two">
            <div class="img_div">
                <img src="../../images/home_icon.jpg" class="img_file">  
            </div>
            <div style="float: right;">
                <input type="button" value="Buy" class="buy_btn" id="">
                <input type="button" value="Rate" class="rate_btn" id="">

            </div>

            <li> 
                <b> Stock Name: </b> <span class="data">  Nokia Torch Light 10v </span> 
            
            </li>

            <li>
                 <b> Stock Price: </b> <span class="data">  200.5 </span> 
            
            </li> 
            <li> 
                <b> Stock Rating: </b> <span class="data">  5.6 </span> 
            </li>
            
                
        </ul>

        <ul class="stocks_list">
            <div class="img_div">
                <img src="../../images/spaceman.jpg" class="img_file">  
            </div>

            <div style="float: right;">
                <input type="button" value="Buy" class="buy_btn" id="">
                <input type="button" value="Rate" class="rate_btn" id="">

            </div>
     
            <li> <b> Stock Name: </b> <span class="data">  Samsung Galaxy S20 </span> </li>
            <li> <b> Stock Price: </b> <span class="data">  200.5 </span> </li>
            <li> <b> Stock Rating: </b> <span class="data">  5.6 </span> </li>
        </ul> -->
    </div>


    <ul class="first-list" style="list-style-type: none; text-align: center; margin-top: 200px;">

    </ul>


    <!-- Adding javascript -->
    <script src="../../javascript/loggedCustomers.js"></script>
</body>
</html>