<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Adding css file -->
    <link rel="stylesheet" href="../../css/signupCustomers.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">   
    <script src="../../javascript/ajax-min.js"></script>     
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap" rel="stylesheet"> 
    <!-- <link rel="stylesheet" href="../css/signup.css" >  -->
    <title>Sign Up</title>
</head>
<body>
    <div class="navigator-div navigator" id="navigator-div">
        <div class="navigator-name" id="navigator-name">
            <div class="icon_div" id="icon_div" style="float: left;">
                <!-- <img class="home_icon_image" src="../images/Ecom-flowchart.jpg" alt="home" > -->
            </div>

            <a href="/" class="navigator-left" style="float: left;"> <span> Ecom App </span></a>

            <div class="navigator-right" id="navigator-right" style="float: right">
                <a href="#" class="about"> <span> About </span></a>
                <a href="#" class="contact"> <span> Contact </span></a>
                <a href="/signup" class="signup"> <span> Sign up </span></a> 
                <a href="/signin" class="login"> <span> Sign In </span></a>
            </div>
        </div>
    </div>

    <div style="width: 100%; overflow: hidden;" class="body_div">
        <div id="left_body_div">
            <img class="sign_up_img" src="../../images/home_icon.jpg" alt="home">
        </div>

        <div id="right_body_div" >
            <h4 class="customers_reg_heading"> Customers Sign Up </h4>
            <div id="form">
                <label for="email" id="email_label"> <b> Email </b></label> <br> 
                <input type="email" name="email" class="email" id="email" placeholder="Email address"> <br> <br> 

                <label for="password" id="password_label"> <b> Password </b></label> <br> 
                <input type="password" name="password" class="password" id="password" placeholder="Password"> <br> <br> 
                
                <input type="checkbox" class="i_agree" id="i_agree" style="float: left;">
                <label for="email" style="float: left; padding-left: 6px;"> I agree to Ecom's <a> Terms of Service </a></label> <br> <br> 

                <input type="checkbox" class="i_accept" id="i_accept" style="float: left;">
                <label for="email" style="float: left; padding-left: 6px;"> I accept Ecom's use of my data for the 
                    <br> service and everything else described <br> in the <a> Privacy Policy </a> 
                </label> 
                <br> <br> 
                
                <br> 
                <input type="submit" class="sign_up_btn" id="sign_up_btn" value="SIGN UP"> 
            </div>
        </div>
   </div>
    



    <!-- Adding the footer section -->
    <div class="footer" id="footer-section">
        <div class="communities footer" id="footer-div" style="float: left;"> 
            <ul> 
                <li class="header-footer"> <a href="#" class="communities-list" id="communities-list" > COMMUNITIES </a> </li>
                <li> <a href="#" class="for-artists-list" id="for-artists-list"> For Artists </a> </li>
                <li> <a href="#" class="developers-list" id="developers-list"> Developers </a> </li>
                <li> <a href="#" class="advertising-list" id="advertising-list" > Advertising </a> </li>
                <li> <a href="#" class="investors-list" id="investors-list"> Investors </a> </li>
                <li> <a href="#" class="vendors-list" id="vendors-list"> Vendors </a> </li>
            </ul>
        </div>

        <div class="communities footer" id="footer-div" style="float: left;"> 
            <ul> 
                <li class="header-footer"> <a href="#" class="communities-list" id="communities-list" > COMMUNITIES </a> </li>
                <li> <a href="#" class="for-artists-list" id="for-artists-list"> For Artists </a> </li>
                <li> <a href="#" class="developers-list" id="developers-list"> Developers </a> </li>
                <li> <a href="#" class="advertising-list" id="advertising-list" > Advertising </a> </li>
                <li> <a href="#" class="investors-list" id="investors-list"> Investors </a> </li>
                <li> <a href="#" class="vendors-list" id="vendors-list"> Vendors </a> </li>
            </ul>
        </div>

        <div class="communities footer" id="footer-div" style="float: left;"> 
            <ul> 
                <li class="header-footer"> <a href="#" class="communities-list" id="communities-list" > COMMUNITIES </a> </li>
                <li> <a href="#" class="for-artists-list" id="for-artists-list"> For Artists </a> </li>
                <li> <a href="#" class="developers-list" id="developers-list"> Developers </a> </li>
                <li> <a href="#" class="advertising-list" id="advertising-list" > Advertising </a> </li>
                <li> <a href="#" class="investors-list" id="investors-list"> Investors </a> </li>
                <li> <a href="#" class="vendors-list" id="vendors-list"> Vendors </a> </li>
            </ul>
        </div>
    </div>


    <!-- Adding the fourth footer division -->
    <div class="last-privacy-footer"> 
        <a href="#" class="legal" id="legal"> Legal </a>
        <a href="#" class="privacyCenter" id="privacyCenter"> Privacy Center </a>
        <a href="#" class="privacyPolicy" id="privacyPolicy"> Privacy Policy </a>
        <a href="#" class="cookies" id="cookies"> Cookies </a>
        <a href="#" class="about-ads" id="about-ads"> About Ads </a>
        <a href="#" class="additional-privacy" id="additional-privacy"> Additional CA Privacy Disclosures </a>
    </div>



    <!-- Adding javascript -->
    <script src="../../javascript/signupCustomers.js"></script>
</body>
</html>